@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Fira Sans Condensed", serif;
  color: white;
}

html{
  scroll-behavior: smooth;
}

.maxW{
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 2%;
}

h2{
  color:#FE6035 ;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.autoH{
  position: relative;
  padding-top: 96px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 25s linear infinite;
}



